@import "../../abstracts/base";

.header {
  height: $header-height;
  display: flex;
  justify-content: center;
  z-index: 100;
  margin-top: -10px;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1185px;
  background-color: $header-bg-color;
  border-bottom: 3px solid black;
  position: fixed;
  height: $header-height;
  z-index: 100;
  width: 100%;
  &__toggle {
    visibility: hidden;
  }
  &__list {
    display: flex;
    justify-content: space-between;
  }
  &__item {
    width: 161px;
    display: flex;
    justify-content: center;
  }
  &__link {
    display: flex;
    align-items: center;
    font-size: 15px;
    text-decoration: none;
    color: $link-color;
    transition: color 0.4s ease 0s;
    width: 100%;
    justify-content: center;
    &:hover {
      transition: 0.5s;
      color: $link-hover-color;
    }
  }
}

.is__active {
  color: $link-hover-color;
}

.social {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  &__list {
    display: flex;
    flex-direction: row;
  }
  &__item {
    margin-right: 10px;
    &:last-of-type {
      margin-right: 0;
    }
  }
  &__icon {
    height: 30px;
  }
}

@media screen and (max-width: 767px) {
  .wrapper {
    width: 100%;
  }

  .page-content {
    max-width: 100%;
  }

  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
  }

  .menu__container {
    display: inline-block;
    cursor: pointer;
    z-index: 10;
  }

  .menu__container-bar1,
  .menu__container-bar2,
  .menu__container-bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.3s;
  }

  .change .menu__container-bar1 {
    transform: translateY(245%) rotate(-45deg);
  }

  .change .menu__container-bar2 {
    opacity: 0;
  }

  .change .menu__container-bar3 {
    transform: translateY(-200%) rotate(45deg);
  }
  .nav__list {
    visibility: hidden;
  }

  .nav {
    position: relative;
    justify-content: flex-end;
    width: 100vw;
    padding-right: 30px;
  }

  .nav__list {
    position: absolute;
    top: 0%;
    right: 0;
    transform: translate(-50%);
    background: #f7f7f7;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    z-index: 9;
    transition: background 2s ease-in;
  }

  .nav__link {
    color: $link-color;
  }

  .is__active {
    color: $link-hover-color;
  }

  .nav__item {
    margin: 0;
    border-bottom: 1px solid rgb(124, 124, 124);
    width: 50%;
    padding: 10px 20px;
    &:last-of-type {
      border: none;
    }
  }

  .nav.expand .nav__list {
    visibility: visible;
    transform: translate(0%);
    transition: background 2s ease-in;
  }

  .social {
    width: 50%;
    left: 20px;
    &__icon {
      height: 50px;
    }
  }
}
